.leaflet-illustrate-textbox textarea {
  background-color: rgba(0, 0, 0, 0);
  font-size: 14pt;
  color: #db1d0f;
  overflow: hidden;
}
.leaflet-illustrate-textbox textarea:focus {
  outline-color: rgba(0, 0, 0, 0);
}
.leaflet-illustrate-textbox-outlined {
  border: 2px solid #4387fd;
}
.leaflet-illustrate-textbox-hidden {
  border-width: 0px;
}
