/* Variables */

@textbox-font-color: #ededed;

@spritesheet-textbox-offset: -272px;


/* Textbox */
.leaflet-illustrate-textbox {
	overflow: hidden;
	padding: 3px;
	resize: none;
	border: 2px solid rgba(0,0,0,0);

	background-color: rgba(0,0,0,0);
	.label-text(@textbox-font-color);

	&:focus {
		border: 2px solid #4387fd;
		outline-color: rgba(0,0,0,0); 
	}
}
.leaflet-illustrate-textbox-empty { 
	background-color: rgba(256,256,256,0.6);
}
.leaflet-illustrate-textbox-container { background-color: rgba(0,0,0,0); }

/* Toolbar */
.leaflet-draw-toolbar a {
	background-image: url('images/spritesheet.png'); // use Leaflet.Illustrate spritesheet
	background-repeat: no-repeat;
}

.leaflet-retina .leaflet-draw-toolbar a {
	background-image: url('images/spritesheet-2x.png'); // use Leaflet.Illustrate spritesheet
	background-size: 300px 30px;
}

.leaflet-draw-toolbar .leaflet-illustrate-create-textbox {
	background-position: @spritesheet-textbox-offset -2px;
}

.leaflet-draw-toolbar .leaflet-illustrate-create-pointer {
	background-position: -2px -2px;
}

/* Touch */
.leaflet-touch {
	.leaflet-draw-toolbar .leaflet-illustrate-create-textbox {
		background-position: @spritesheet-textbox-offset + 2 -1px;
	}

	.leaflet-draw-toolbar .leaflet-illustrate-create-pointer {
		background-position: 0 -1px;
	}
}

/* Mixins */
.label-text(@color) {
	font-size: 14pt;
	color: @color;
	text-shadow: 0 0 0.2em darken(@color, 80%),
			     0 0 0.2em darken(@color, 80%),
				 0 0 0.2em darken(@color, 80%);
}
